@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
  /* line-height: 1.5; */
  background-color: "#F9F7F3";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img, svg, video{
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6{
  text-wrap: balance;
}

p{
  max-width: 75ch;
  text-wrap: pretty;
}

.auto-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  place-content: center;
}